.planet {
  float: left;
  width: 45%;
  margin-top: -150px;
}

.planet .planet-img {
  animation: myOrbit 4s linear infinite;
  pointer-events: none;
  max-width: 768px;
  width: 100%;
}

.planet .planet-img-home {
  margin-top: 50px;
  max-width: 640px;
  width: 40vw;
}

.event-section .event-content .event-list {
  color: white;
  font-size: 3vh;
  margin-left: 15px;
}
.event-section {
  width: 55%;
  display: inline-block;
  min-height: 384px;
}

@media (max-width: 1024px) {
  .planet .planet-img {
    max-width: 640px;
    margin-top: 100px;
  }
}

@media (max-width: 900px) {
  .planet .planet-img {
    max-width: 640px;
    margin-top: 200px;
  }
}

@media (max-width: 768px) {
  .planet .planet-img {
    margin-left: -50px;
  }
}

@media (max-width: 620px) {
  .planet {
    margin-left: -100px;
  }

  .planet .planet-img {
    margin-top: 250px;
  }

  .event-section {
    width: calc(55vw + 80px);
  }

  .event-section-home {
    margin-left: 80px;
  }

  .planet .planet-img-home {
    margin-top: 300px;
    margin-bottom: -300px;
  }
}

@media (max-width: 580px) {
  .event-section-home {
    margin-left: 80px;
    width: 80%;
  }
}
@media (max-width: 420px) {
  .planet {
    margin-left: -50px;
  }

  .planet .planet-img {
    margin-top: -50px;
  }
  .event-section .event-title {
    color: #1eabd6;
    font-size: 4vh;
  }

  .event-section .event-content .title {
    color: white;
    font-size: 2.9vh;
  }

  .event-section .event-content .event-list {
    color: white;
    font-size: 2.5vh;
    margin-left: 5px;
  }

  .event-section {
    margin: 0 10vw;
    width: 80vw;
  }

  .event-section-home {
    margin: 0 0vw;
    width: 80vw;
  }
  .planet .planet-img-home {
    margin-top: 300px;
    margin-bottom: -300px;
    margin-left: -80px;
  }
}
.event-section .event-title {
  color: #1eabd6;
  font-size: 4vh;
}

.event-section .event-content .title {
  color: white;
  font-size: 3vh;
  margin: 15px 0;
}

.event-section .event-content .event-loading {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.event-section .event-item .item-title {
  text-decoration: none;
  font-family: "Raleway";
  color: #1eabd6;
  font-weight: bold;
  font-size: 3vh;
  transition: color 0.5s;
}

.event-section .event-item .item-title:hover {
  color: #ee2a7b;
}

.event-section .event-item .item-description {
  font-size: 2.3vh;
}

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(3.5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(3.5px) rotate(-360deg);
  }
}
