.event-section .event-title {
    color: #1EABD6;
    font-size: 4vh;
    margin-left: 45vw;
}

.event-section .event-content .title {
    color: white;
    font-size: 3vh;
    margin-left: 45vw;
    margin-top: 3vh;
}

.event-section .event-content .event-list {
    color: white;
    font-size: 3vh;
    margin-left: 45vw;
    margin-bottom: 15vh;
}

.event-section .planet {
    height: 0;
}

.event-section .planet-img {
    width: 55vw;
    height: auto;
    position: relative;
    left: 0;
    pointer-events: none;
    bottom: 68vh;
    z-index: 100;
    animation: myOrbit 4s linear infinite;
}

.event-section .mobile-planet {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.event-section .event-item .item-title {
    text-decoration: none;
    font-family: 'Raleway';
    color: #1EABD6;
    font-weight: bold;
    font-size: 3vh;
    transition: color 0.5s;
}

.event-section .event-item .item-title:hover {
    color: #EE2A7B;
}

.event-section .event-item .item-description {
    font-size: 2.3vh;
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(3.5px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(3.5px) rotate(-360deg); }
}

@media screen and (max-width: 426px) {

    .event-section .union-img {
        opacity: 0;
        pointer-events: none;
    }

    .event-section .planet {
        opacity: 0;
        pointer-events: none;
    }

    .event-section .mobile-planet {
        height: 0;
        opacity: 1;
        pointer-events: none;
    }

    .event-section .mobile-planet-img {
        position: relative;
        bottom: 77vh;
        right: 13vw;
    }
    
    .event-section .event-title {
        color: #1EABD6;
        font-size: 4vh;
        margin-left: 2vw;
        width: 80vw;
    }

    .event-section .event-content .title {
        color: white;
        width: 50vw;
        font-size: 2.9vh;
        margin-left: 25vw;
        margin-top: 3vh;
    }

    .event-section .event-content .event-list {
        color: white;
        font-size: 2.5vh;
        margin-left: 25vw;
        margin-bottom: 15vh;
    }

}