@media only screen and (max-width: 767.95px) {
  .col-1 .planet-img {
    position: absolute;
    left: -300px;
    width: 350px;
    height: 350px;
  }
  .event-section .event-title,
  .event-section .receiving-msg {
    text-align: center;
  }
}
@media only screen and (max-width: 392px) {
  .col-1 .planet-img {
    margin-top: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991.95px) {
  .col-1 .planet-img {
    margin-left: -60%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .col-1 .planet-img {
    margin-left: -20%;
  }
}

.planet-img {
  animation: myOrbit 4s linear infinite;
  pointer-events: none;
  margin-top: 50px;

  width: 50vw;
  height: 50vw;
  max-width: 360px;
  max-height: 360px;
  /* float: right;
  margin-right: -20px; */
}

.event-section {
  display: inline-block;
  min-height: 384px;
}

.event-comp {
  min-height: auto;
}

.event-section-home {
  margin-bottom: 64px;
}
.event-section .event-content .event-list {
  color: white;
  font-size: 3vh;
  margin-left: 15px;
}

.event-section .event-title {
  color: #1eabd6;
  font-size: 4vh;
  margin-left: 15px;
}

.event-section .event-content .mb-3 {
  color: white;
  font-size: 3vh;
  margin-left: 15px;
}

.event-section .event-content .event-loading {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.event-section .event-item .item-title,
.event-list .know-more {
  text-decoration: none;
  font-family: "Raleway";
  color: #1eabd6;
  font-weight: bold;
  font-size: 3vh;
  word-wrap: break-word;
  transition: color 0.5s;
}

.event-section .event-item .item-title:hover,
.event-list .know-more:hover {
  color: #ee2a7b;
}

.event-section .event-item .item-description {
  font-size: 2.3vh;
}

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(3.5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(3.5px) rotate(-360deg);
  }
}
