.community-component {
  color: white;
  font-family: "Raleway";
  margin: 0;
}

.community-component .main {
  margin-top: 30vh;
}

.community-component .side-banner {
  color: #1eabd6;
  height: 0;
  width: 30vw;
  position: absolute;
  left: 82vw;
  font-size: 1.5vw;
  transform: rotate(-90deg);
  margin-top: 400px;
}

.community-component .title {
  opacity: 1;
  width: 20em;
  height: 0;
  pointer-events: none;
  margin-bottom: 3em;
  padding: 0;
  color: #ee2a7b;
  font-size: 8vh;
  text-align: center;
}

.community-component .community-card {
  border: 1px solid #ee2a7b;
  box-sizing: border-box;
  border-radius: 23px;
  height: 45vh;
  margin-left: 1vw;
  margin-bottom: 8vh;
  position: relative;
  background-position: center;
  transition: background-size 1s;
}

.community-component .link {
  text-decoration: none;
  font-family: "Raleway";
  color: #1eabd6;
}

.community-component .community-card .name {
  font-size: 3.8vh;
  color: #ee2a7b;
}

.community-component .community-card .small-name {
  height: 0;
  width: 0;
  pointer-events: none;
  opacity: 0;
}

.community-component .community-card .large-name {
  margin-top: 3.5vh;
  margin-bottom: 3vh;
  font-weight: normal;
}

.community-component .community-card .description {
  font-family: "Raleway";
  color: white;
  height: 20vh;
  overflow: hidden;
  font-size: 1.2vw;
}

.community-component .community-card .know-more {
  font-family: "Raleway";
  color: #1eabd6;
  font-size: 2vh;
  position: absolute;
  pointer-events: fill;
  bottom: 1vh;
  right: 1vw;
}

.community-component .community-card .know-more .loader {
  margin-left: 1vw;
  pointer-events: none;
}

.community-component .community-card:hover .know-more .loader {
  animation: Spin 1s ease-in-out infinite;
  animation-fill-mode: both;
  animation-direction: normal;
}

@media screen and (max-width: 575px) {
  .community-component .main {
    margin-top: 5vh;
  }

  .community-component .side-banner {
    height: 0;
    opacity: 0;
    pointer-events: none;
    width: 0;
  }

  .community-component .title {
    font-family: "Raleway";
    color: #ee2a7b;
    font-size: 5vh;
    width: auto;
    height: auto;
    opacity: 1;
    margin-bottom: 5vh;
    margin-left: 2vw;
  }

  .community-component .community-card {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    width: 98vw;
  }

  .community-component .community-card .large-name {
    opacity: 0;
    height: 0;
    padding: 0;
    width: 0;
    pointer-events: none;
  }

  .community-component .community-card .small-name {
    opacity: 1;
    font-weight: normal;
    font-size: 5vw;
    color: #1eabd6;
    height: auto;
    width: auto;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    transform: translate(0%, 350%);
    pointer-events: all;
  }

  .community-component .community-card .description {
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }

  .community-component .community-card .know-more {
    opacity: 0;
    pointer-events: none;
  }

  .community-component .competitive_coding {
    background: linear-gradient(
        108.96deg,
        rgba(238, 42, 123, 0.45) 0%,
        rgba(0, 0, 24, 0.675) 43.75%
      ),
      url(./competitive_coding.jpg);
    background-size: cover;
  }

  .community-component .electronics_iot {
    background: linear-gradient(
        108.96deg,
        rgba(238, 42, 123, 0.45) 0%,
        rgba(0, 0, 24, 0.675) 43.75%
      ),
      url(./electronics_iot.jpg);
    background-size: cover;
  }

  .community-component .robotics {
    background: linear-gradient(
        108.96deg,
        rgba(238, 42, 123, 0.45) 0%,
        rgba(0, 0, 24, 0.675) 43.75%
      ),
      url(./robotics.jpg);
    background-size: cover;
  }

  .community-component .webd_appd {
    background: linear-gradient(
        108.96deg,
        rgba(238, 42, 123, 0.45) 0%,
        rgba(0, 0, 24, 0.675) 43.75%
      ),
      url(./webd_appd.jpg);
    background-size: cover;
  }

  .community-component .machine_learning {
    background: linear-gradient(
        108.96deg,
        rgba(238, 42, 123, 0.45) 0%,
        rgba(0, 0, 24, 0.675) 43.75%
      ),
      url(./machine_learning.jpg);
    background-size: cover;
  }

  .community-component .design {
    background: linear-gradient(
        108.96deg,
        rgba(238, 42, 123, 0.45) 0%,
        rgba(0, 0, 24, 0.675) 43.75%
      ),
      url(./design.jpg);
    background-size: cover;
  }

  .community-component .community-card:hover {
    background-size: 150%;
  }
}

/* ---------------------Animations--------------------- */
@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
