.about-us-section {
      font-family: 'Raleway', sans-serif;
      color: white;
      border: 1px solid #EE2A7B;
      /* box-sizing: border-box; */
      border-radius: 23px;
      width: 85vw;
}

.about-us-section .title {
      color: #EE2A7B;
      font-size: 6vh;
      margin-left: 8vw;
      margin-bottom: 5vh;
      margin-top: 8vh;
}

.about-us-section .content {
      color: white;
      font-size: 3.8vh;
      margin-left: 8vw;
      margin-right: 8vw;
      margin-bottom: 5vh;
}

.about-us-section #about-us {
      color: #1EABD6;
      font-size: 1.5vw;
      position: relative;
      left: 47vw;
      bottom: 20vh;
      transform: rotate(-90deg);
      height: 0;
}

@media screen and (max-width: 426px) {
      .about-us-section {
            border: none;
      }

      .about-us-section .title {
            margin-left: 0;
      }

      .about-us-section .content {
            color: white;
            font-size: 2.5vh;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 5vh;
      }

      .about-us-section #about-us {
            height: 0;
            opacity: 0;
      }
}

@media(min-width:2500px) {
      .container.about-us-section {
            max-width: 70vw;
      }
}
