.card{
    border-radius: 20px;
    height: 10rem;
    width: 15rem;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05) !important;
    cursor: pointer;
    

}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}
