.partners-section {
      font-family: 'Raleway', sans-serif;
      color: white;
      border: 1px solid #EE2A7B;
      /* box-sizing: border-box; */
      border-radius: 23px;
      width: 85vw;
      padding-bottom: 50px;
}

.partners-title {
      color: #EE2A7B;
      font-size: 7vh;
      text-align: center;
      margin-bottom: 10vh;
      margin-top: 10vh;
}

.partners-logo {
      width: 30vw;
      border-radius: 20px;
}

.logo-name {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 30vw;
      border: 1px solid #EE2A7B;
      border-radius: 20px;
      border-width: 1.6px;
      margin-top: 20px;
}

.partners-col-1 {
      text-align: center;
      margin-bottom: 40px;
}

@media(max-width:500px) {
      .partners-section {
            border: none;
      }
}

@media(max-width:650px) {
      .partners-title {
            font-size: 6vh;
            text-align: center;
            margin-left: 0;
      }

      .partners-logo, .logo-name {
            width: 70vw;
            border-radius: 20px;
      }
}

@media(min-width:1920px) {
      .partners-logo, .logo-name {
            width: 20vw;
            border-radius: 20px;
      }

      .logo-name {
            margin-top: 30px;
      }
}

@media(min-width:2500px) {
      .container.partners-section {
            max-width: 70vw;
      }

      .partners-title {
            font-size: 8vh;
            margin-top: 15vh;
      }

      .partners-logo, .logo-name {
            width: 25vw;
            border-radius: 35px;
      }

      .logo-name {
            font-size: 4vh;
      }

      .partners-col-1 {
            text-align: center;
            margin-bottom: 80px;
      }
}
