.partners-section {
      font-family: 'Raleway', sans-serif;
      color: white;
      border: 1px solid #EE2A7B;
      /* box-sizing: border-box; */
      border-radius: 23px;
      width: 85vw;
      padding-bottom: 50px;
}

.partners-title {
      color: #EE2A7B;
      font-size: 7vh;
      text-align: center;
      margin-bottom: 10vh;
      margin-top: 10vh;
}

.partners-img{
      justify-content: center;
}

.logo-container {

      left: 0;
      right: 0;
      position: relative;
      width: 100%;
}

.partners-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      opacity: 1;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
      width: 25vw;
      border-radius: 20px;
      /* margin-top: 40px;
      margin-bottom: 40px; */
}

.logo-container:hover .partners-logo {
      opacity: 0.3;
}

.logo-container:hover .logo-hover {
      opacity: 1;
}

.logo-hover {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
}
.sponsors-logo-hover{
display: none;
}
.logo-name {
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      font-weight: 400;
      font-size: 1.6rem;
      text-align: center;
      width: 20vw;
      border: 1px solid #EE2A7B;
      border-radius: 20px;
      border-width: 1.6px;
      margin-bottom: 0;
}
.partners-link:hover{

text-decoration: none;
}
.partners-col-1 {
      text-align: center;
      margin-bottom: 40px;
}

@media(max-width:855px) {
      .logo-name {
            width: 30vw;
            font-size: 1.3rem;
            font-weight: 200;
      }
      .partners-logo {
            width: 40vw;
            border-radius: 20px;
      }
}
@media(max-width:650px) {
      .partners-title {
            font-size: 6vh;
            text-align: center;
            margin-left: 0;
      }

      .partners-logo {
            width: 80vw;
            border-radius: 20px;
      }

      .logo-name {
            width: 60vw;
            font-size: 2rem;
      }
}

@media(max-width:500px) {
      .partners-section {
            border: none;
      }

      .logo-name {
            width: 70vw;
            font-size: 1.6rem;
      }
}

@media(min-width:1400px) {
      .container.partners-section {
            max-width: 85vw;
      }

      .partners-logo, .logo-name {
            width: 25vw;
            border-radius: 30px;
      }

      .logo-name {
            width: 20vw;
            font-size: 4vh;
            border: 2.5px solid #EE2A7B;
      }
}

@media(min-width:2500px) {
      .container.partners-section {
            max-width: 85vw;
      }

      .partners-title {
            font-size: 8vh;
            margin-top: 15vh;
      }

      .partners-logo, .logo-name {
            width: 25vw;
            border-radius: 35px;
      }

      .logo-name {
            width: 22vw;
            font-size: 4vh;
            border: 3.5px solid #EE2A7B;

      }

      .partners-col-1 {
            text-align: center;
            margin-bottom: 80px;
      }
}
