.Society-cards
{
  
   background: #093028;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
  padding:20px 0;
}

.Society-cards .heading
{
  text-align: center;
  color: #ffffff;
  font-style: italic;
  font-weight: 200;
}
.Society-cards .carousel-indicators
{
  display: none;;
}
.Society-cards .card
{
 
  margin:40px auto;

}
