.contactUs-section > h2 {
  color: #ee2a7b;
}
.input-box {
  background-color: transparent;
  color: rgba(252, 253, 255, 0.6);
}
.submit {
  width: 50%;
  margin: 30px auto;
  color: #1eabd6;
  border: 0.7px solid white;
  z-index: 1;
}
.submit:hover {
  background-color: black;
  color: #1eabd6;
  border: 0.7px solid #1eabd6;
}
