.contactUs-section .contactUs-heading {
  color: #ee2a7b;
  text-align: center;
  font-size: 6vh;
  font-weight: normal;
  margin: 40px 30px;
}
.input-box {
  background-color: transparent;
  color: rgba(252, 253, 255, 0.6);
}
.submit {
  width: 50%;
  margin: 30px auto 30px 15px;
  color: #1eabd6;
  border: 0.7px solid white;
  z-index: 1;
}
.submit:hover {
  background-color: black;
  color: #1eabd6;
  border: 0.7px solid #1eabd6;
}

@media(max-width:860px) {
      .err-msg {
            font-size: 1rem;
      }

      .submit {
            width: 40%;
            font-size: 0.8rem;
      }
}

@media(max-width:512px) {
      .err-msg {
            font-size: 1rem;
      }

      .submit {
            width: 30%;
            font-size: 0.8rem;
      }
}

@media(max-width:440px) {
      .err-msg {
            font-size: 0.8rem;
      }

      .submit {
            width: 25%;
            font-size: 0.8rem;
      }
}
