.footer-component {
  position: relative;
  margin-top: 40px;
}

.footer-component .footer-surface-img {
  width: 100%;
  pointer-events: none;
}

.icons {
  height: 30px;
  width: 10vh;
  margin: 10px 25px 20px 25px;
  transition: ease 0.5s;
}

.icons:hover {
  color: #1eabd6;
  transform: translate(0, -1px);
}

.last {
  padding-top: 15px;
}

.last p {
  font-size: 1.2vw;
  margin-bottom: 20px;
}

.star-background {
  background-image: url("./img/star.svg");
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.trigger-modal {
  cursor: pointer;
}
.trigger-modal:hover {
  color: #1eabd6;
  transform: translate(0, -1px);
}
@media (min-width: 1700px) {
  .icons {
    height: 35px;
  }
}

@media (min-width: 2560px) {
  .icons {
    height: 50px;
  }
}
@media (max-width: 850px) {
  .icons {
    width: 5vh;
  }
}
@media (max-width: 750px) {
  .footer-surface-img {
    margin-top: 50px;
  }

  .last {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    width: 100%;
  }

  .icons {
    margin-top: 250px;
  }

  .last p {
    font-size: 1.6vw;
  }
}

@media (max-width: 640px) {
  .icons {
    width: 20vh;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .icons {
    width: 5vh;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .last p {
    font-size: 4vw;
    margin-top: 8px;
  }
}
