@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
:root {
  --bgCard: hsl(210, 5%, 93%);
  --clrText: hsl(171, 8%, 16%);
  --orange: hsl(210, 5%, 93%);
  --fw-r: 400;
  --fw-b: 700;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

.btn {
  border: 0;
  background: transparent;
  font: inherit;
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  background: #e76127;
  cursor: pointer;
  outline: none;
  position: relative;
  left: 25%;
}

.btn:focus,
.btn:hover {
  background: #d95c26;
}

.commMain {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100vh;
}

.container {
  position: relative;
  max-width: 30rem;
}

.modal-overlay {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

body.modal-is-open .modal-overlay {
  opacity: 1;
  z-index: 1;
}

.modal {
  background: var(--bgCard);
  max-width: 690px;
  width: 90%;
  min-height: 447px;
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 26px 19px -12px rgba(0, 0, 0, 0.4);
}

.modal__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.modal__title {
  font-weight: var(--fw-b);
  font-size: 2.6rem;
  margin-bottom: 0.5em;
}

.modal__text {
  width: 70%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: var(--fw-r);
  margin-bottom: 1em;
}

.modal__btns {
  margin-top: 4em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}


.modal__close {
  outline: none;
  border: 0;
  background: transparent;
  font: inherit;
  color: #d66838;
  cursor: pointer;
}

.modal__close-btn {
  outline: none;
  position: absolute;
  top: 2em;
  right: 2em;
  border: 0;
  cursor: pointer;
}
