.table-1 {
    margin-top: 3vh;
    margin-bottom: 1vh;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.table-1 .table-title {
    text-align: center;
    font-size: 4vh;
}

.table-1 a {
    text-decoration: none;
}

.table-1 table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10vw;
}

.table-1 td, .table-1 th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-1 .event-title a, .table-1 .event-title {
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    transition: color 0.5s;
}

.table-1 tr
{
    color:white;
}

.table-1 .event-title a:hover {
    color: #EE2A7B;
}