.hamburger {
  position: fixed;
  top: 32%;
  left: 0px;
  z-index: 1004;
  padding: 5px;
  background: transparent;
}

.nav-item {
  color: rgb(202, 196, 196);
  margin: 2% 25px;
}

#sidenav .navLink .active,
.nav-item:hover {
  font-weight: 900;
  color: white;
}

.hamburger > span{
  height: 7px;
  display: block;
  background: #ee2a7b;
  margin-bottom: 7px;
  border-radius: 10px;

  transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
}

#sidenav .navLink {
  font-weight: 400;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1003;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  text-align: center;
}

/* #semi-circle {
  position: fixed;
  top: 25%;
  left: -20px;
  color: white;
  z-index: 1001;
  width: 130px;
  height: 150px;
} */

@media screen and (max-height: 450px) {
  #sidenav {
    padding-top: 5px;
  }
  #sidenav .navLink {
    font-size: 18px;
  }
}
